@use '../module.scss' as m;

.hero-name {
    @include m.base-text;
    font-size: 160px;
    font-family: 'Cookie';
    @media screen and (min-width: 2000px) {
        margin: 500px 0px 0px 80px;
    }
    
    margin: 250px 0px 0px 80px
}

.hero-subtitle {
    @include m.base-text;
    font-family: 'Gelasio', serif;
    font-size: 40px;
    margin: 0px 0px 90px 10em;
}

.hero-ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 520px;
    

    li  {
        color: m.$primary;
        margin: auto 50px;

        :before {
            @include m.lrg-button-before
        }

        button {
            text-decoration: none;
            @include m.lrg-button;
        }

        button:after {
            @include m.lrg-button-after;
        }

        .large-btn1:active {
            width: calc(166px - 50%);
            height: calc(54px - 1%);
            font-size: 1.5em;
            margin: auto 46.2px;

        }

        .large-btn2:active {
            width: calc(166px - 40%);
            height: calc(54px - 1%);
            font-size: 1.5em;
            margin: auto 35.5px;

        }

        .large-btn3:active {
            width: calc(166px - 40%);
            height: calc(54px - 1%);
            font-size: 1.5em;
            margin: auto 37.2px;

        }

        @include m.glow-effect(button);
    }
    
    

    // li :nth-child(2):active {
    //     width: calc(90%);
    //     height: calc(54px - 1%);
    //     margin: auto 20px;

    // }

    // li :nth-child(3):active {
    //     width: calc(166px - 10%);
    //     height: calc(54px - 1%);
    //     font-size: 1.5em;
    //     margin: auto 20px;

    // }

}

